* {
  text-rendering: optimizeLegibility;
}

html,
body {
  height: 100%;
  min-height: 100vh;

  color: rgb(255, 255, 255);

  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
}

.loading-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  height: 100px;
  margin: auto;
}

.weather-data {
  min-height: 200px;
  margin-top: 20px;
}

.current-conditions {
  padding: 0;
}

p {
  font-size: 20px;
  line-height: 28px;
}

.alt-unit {
  display: none;
}

.morning {
  background-color: rgb(195, 81, 20);
}

.day {
  background-color: rgb(24, 137, 193);
}

.evening {
  background-color: rgb(70, 47, 75);
}

.night {
  background-color: rgb(19, 49, 80);
}

h1 small,
h2 small {
  color: rgb(205, 205, 205);
}

h1 {
  text-align: center;
  letter-spacing: 10px;
  text-transform: capitalize;

  font-size: 36px;
  font-weight: bold;
}

h1 > small {
  white-space: nowrap;
  letter-spacing: 6px;
  text-transform: uppercase;

  font-weight: bold;
}

h2 {
  margin-top: 10px;
  padding: 0;

  font-size: 22px;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h2 > small {
  font-size: 30px;
  text-transform: capitalize;
  letter-spacing: normal;
}

hr {
  margin: 0 auto;
}

.current-icon p,
.current-temp p,
.current-pressure p,
.current-wind p,
.current-sunrise-sunset p,
.current-humidity p,
.current-visibility p,
.current-feels-like p {
  cursor: default;
  text-align: center;
  white-space: nowrap;
}

.current-temp  p {
  cursor: pointer;
}

.current-icon i {
  margin-top: 20px;

  font-size: 70px;
}

.current-temp p {
  margin-top: -20px;

  font-size: 90px;
}

.last-updated p {
  margin-top: 0;

  text-align: center;

  font-size: 14px;
}

.forecast {
  margin-top: 10px;
}

.forecast p {
  white-space: nowrap;

  font-size: 15px;
}

.template-error-message {
  display: block;
}

hr {
  display: none;

  margin: 10px auto;
}

.main-container {
  margin-bottom: -60px;
}

.main-container::after {
  display: block;

  content: "";
}

a.link-toggle-units,
a.link-toggle-units:visited {
  color: rgb(160, 160, 160);
  text-decoration: none;
}

a.link-toggle-units:hover,
a.link-toggle-units:active {
  color: rgb(204, 204, 204);
  text-decoration: none;
  border-top: 1px dashed rgb(204, 204, 204);
  border-bottom: 1px dashed rgb(204, 204, 204);
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@media only screen and (max-width: 400px) {

  .current-icon i {
    margin-top: 10px;

    font-size: 50px;
  }

  .github-corner {
    display: none;
  }

  .current-temp p {
    margin-top: -10px;

    font-size: 60px;
  }

  .weather-data {
    margin-top: 5px;
  }

  h2 {
    font-size: 16px;
  }

  h2 > small {
    font-size: 24px;
  }

}

@media (min-width: 850px) {

  p {
    font-size: 24px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 32px;
  }

  h2 > small {
    font-size: 40px;
  }

  .forecast p {
    font-size: 20px;
  }

  .last-updated p {
    font-size: 18px;
  }

  .current-temp p {
    margin-top: 0;

    font-size: 110px;
  }

  .current-icon i {
    font-size: 100px;
    margin-top: 0;
  }

}
