body {
  padding-bottom: 100px;
}

h2 em {
  font-family: Times, "Times New Roman", Georgia, serif;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.as-photo {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.embed-responsive {
  margin: 25px auto;
}

h2 sup {
  font-size: 50%;
}

.well p,
.well ol {
  font-size: 90%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #adadad;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.75);
}

footer p {
  margin-top: 20px;
  font-size: 1em;
}

footer p a,
footer a:visited {
  color: #4e7352;
}

footer a:hover,
footer a:active {
  color: #060;
  text-decoration: none;
  border-top: 1px dotted #060;
  border-bottom: 1px dotted #060;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
