* {
  text-rendering: optimizeLegibility;
}

html,
body {
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.67);
}

body {
  background-repeat: no-repeat;
  background-position: 50% 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

.loading-spinner {
  color: #000;
}

.quote {
  margin: 80px auto;
  padding: 20px;
  width: 100%;
  height: 100%;
  min-height: 200px;
  color: #adadad;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.67);
  -ms-border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}

.quote-content {
  margin: 0 auto;
}

.quote-content p {
  font: 3.6em/1.2em "Oleo Script", serif;
  color: #dedede;
}

.quote-author {
  display: none;
  font-size: 1.2em;
  margin-bottom: 50px;
  margin-right: 20px;
}

.quote-author a:hover {
  text-decoration: none;
}

.action-buttons .btn {
  margin-bottom: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  width: 100%;
  height: 60px;
  color: #adadad;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.75);
}

footer p {
  margin-top: 20px;
}

footer p a,
footer a:visited {
  color: #4e7352;
}

footer a:hover,
footer a:active {
  color: #060;
  text-decoration: none;
  border-top: 1px dotted #060;
  border-bottom: 1px dotted #060;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
